{% extends "base.html" %}

{% block content %}
<div class="page-banner">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12">
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-bredcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <h1>About Treking Company</h1>
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li>About Treking Company</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="about-body">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <p>{{ introduction.description | safe }}</p>
      </div>
    </div>
  </div>
</div>


{% endblock content %}