{% extends "base.html" %}

{% block content %}
<div class="page-banner">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12">
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-bredcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <h1>About Treking Company</h1>
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>About Treking Company</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="about-body">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <p>Treking Company Treks & Expedition Pvt Ltd. mission is to provide a positive example for Nepali trekking companies. Our aim is to maintain an economically competitive company that takes a small margin of profit in order to provide excellent working conditions and benefits for our staff and the local people we visit. We provide socially progressive services and a positive experience for our hosts and clients.We respect environmental and cultural awareness and maintain sustainable business practices.</p>
        <p>Treking Company Treks & Expedition Pvt. Ltd. was founded by Ram and supported by a group of experienced, enthusiastic and entrepreneurial trekking guides and tour leaders in 2004. During our combinedworking lives we have provided thousands of adventure and pleasure trips. Because of our quality, safety record, friendly and economic service, many of our clients have now become our friends and our best advertisement. We therefore are proud to continue to greet old and new clients and share with them the beauty and culture of our country.</p>
        <p>Treking Company has been committed to the travel trade since its establishment, and is recognized and approved by the Government of Nepal and the Tourism Board of Nepal. It has established an impeccable reputation both at home and abroad. Therefore you can expect caring services management and its administrative and field staff are sincerely committed to maintaining the natural beauty and cultural heritage of Nepal.</p>
        <h2>Our Services / Why Choose Us:</h2>
        <p>Treking Company can offer you personal and efficient services. Transport is provided by reputable drivers and road worthy vehicle. Multi-lingual and experienced guides are trained in Eco-friendly trekking behaviour.</p>
        <ul>
          <li>Safety……</li>
          <li>Meet at airport……</li>
          <li>Assistance with bookings to other international destinations.</li>
          <li>City tours by knowledgeable tour guides within the valley.</li>
          <li>Our service includes Trekking, Climbing,White-water Rafting, Jungle Safaris, Bird watching, Nepali local home stay, Mountain Flight and Hot-air Balloon Flights, Yoga and Meditation, Bungy Jumping, Paragliding, Zip Lining, Mountain Bike rides.</li>
          <li>Our service includes Trekking, Climbing,White-water Rafting, Jungle Safaris, Bird watching, Nepali local home stay, Mountain Flight and Hot-air Balloon Flights, Yoga and Meditation, Bungy Jumping, Paragliding, Zip Lining, Mountain Bike rides.</li>
          <li>Group or individual tours can be tailor made to suit your requirements.</li>
        </ul>
        <h3>Environmental Friendly:</h3>
        <ul>
          <li>Your sensitivity for your surrounding will influence others and your team will help with these simple guidelines.??</li>
          <li>Do not leave anything except your footprints on the trail, and do not take away anything except photos. ?</li>
          <li>Use bio-degradable or burnable disposables. ?</li>
          <li>Do not leave waste burning on a site. Bag and remove plastic and tins for disposal later. ?</li>
          <li>Ensure that toilets are dug at least 50 meters from the camp, and cover with earth on departure.</li>
        </ul>
        <p>As well as providing our clients with treks to the “famous” and “popular” sites within Nepal, Treking Company Treks & Expedition (Pvt.) Ltd also focuses on discovering new trekking trails – taking the pressure off the more popular trekking areas in Nepal. Both trekkers and locals benefit from us opening up new areas as trekkers get to discover a new path and scenario which has not been explored before and the locals get a chance to uplift their living standards through tourism.</p>
        <p>Our aim is to provide our clients with a great experience as well as having a positive impact on the areas that they travel in and to preserve the environment, culture and traditions of Nepal for many generations to come.</p>
        <p>Our growing success has enabled us to continue our obligation to serve and donate some part of our profit to those most in need. Despite the geographical barriers of our country, Treking Company through its non-profit organistion (Tukee Nepal) have organised projects covering education, health, toilets, micro electric, agriculture, mirco finance, house renovation and food. We are committed to better working conditions and basic human rights of all porters (we want to say helpers) and staff by providing more facilities for staff and improving our staff’s skills and working conditions. We provide a safe working environment and a guaranteed reasonable salary year round.</p>
      </div>
    </div>
  </div>
</div>


{% endblock content %}