{% extends "base.html" %}


{% block content %}
<div class="page-banner">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12">
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-bredcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <h1>Nepal</h1>
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Nepal</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="adventure">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 nepal-content">
        <h2>Birthplace of Gautam Buddha</h2>
        <p>Nepal has always been popular for its glorious history, culture, and adventure in the international arena. Its unique landscape, natural beauty, and mountains have always been an added asset to the country. Ten cultural and natural heritage sites of Nepal have been inscribed in the world heritage site list. There are many tourist destinations in Nepal best for sightseeing, historical and cultural tours, canoeing, rock climbing, bungy jumping, and wildlife safari. Trekking in numerous trials, mountaineering in the tallest peaks of the world, and rafting in the best rapids have always attracted adventure enthusiasts to visit Nepal.</p>
      </div>
      <div class="col-12 col-sm-12">
        <h4>Explore the Trips In Nepal</h4>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="adventure-box">
          <div class="box">
            <div class="imgBox">
              <img src="./images/adventure1.jpg" alt="">
            </div>
            <div class="content">
              <a href="#" class="btn btn-book">Book Your Trip Now</a>
              <p><a href="#">or Learn More</a></p>
            </div>
          </div>
          <h6 class="group"><i class="fa fa-users"></i> Group</h6>
          <p class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> of 31 reviews</p>
          <div class="price-box">
            <span class="trip-card__regular-price">from <del>US$ 1800</del></span>
            <span class="trip-card__sale-price">US$ <strong>1550</strong><sup>pp</sup></span>
          </div>
          <h5><a href="#">Everest Base Camp Trek - 14 Days</a></h5>
          <ul>
            <li><i class="fas fa-tachometer-alt"></i><span>Grade</span> <h6>Challenging</h6></li>
            <li><i class="far fa-calendar-alt"></i><span>Duration</span> <h6>14 Days</h6></li>
            <li><i class="fas fa-hiking"></i><span>Activity</span> <h6>Everest Treks</h6></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="adventure-box">
          <div class="box">
            <div class="imgBox">
              <img src="./images/adventure2.jpg" alt="">
            </div>
            <div class="content">
              <a href="#" class="btn btn-book">Book Your Trip Now</a>
              <p><a href="#">or Learn More</a></p>
            </div>
          </div>
          <h6 class="group"><i class="fa fa-users"></i> Group</h6>
          <p class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> of 31 reviews</p>
          <div class="price-box">
            <span class="trip-card__regular-price">from <del>US$ 1800</del></span>
            <span class="trip-card__sale-price">US$ <strong>1550</strong><sup>pp</sup></span>
          </div>
          <h5><a href="#">Everest Base Camp Trek - 14 Days</a></h5>
          <ul>
            <li><i class="fas fa-tachometer-alt"></i><span>Grade</span> <h6>Challenging</h6></li>
            <li><i class="far fa-calendar-alt"></i><span>Duration</span> <h6>14 Days</h6></li>
            <li><i class="fas fa-hiking"></i><span>Activity</span> <h6>Everest Treks</h6></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="adventure-box">
          <div class="box">
            <div class="imgBox">
              <img src="./images/adventure3.jpg" alt="">
            </div>
            <div class="content">
              <a href="#" class="btn btn-book">Book Your Trip Now</a>
              <p><a href="#">or Learn More</a></p>
            </div>
          </div>
          <h6 class="group"><i class="fa fa-users"></i> Group</h6>
          <p class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> of 31 reviews</p>
          <div class="price-box">
            <span class="trip-card__regular-price">from <del>US$ 1800</del></span>
            <span class="trip-card__sale-price">US$ <strong>1550</strong><sup>pp</sup></span>
          </div>
          <h5><a href="#">Everest Base Camp Trek - 14 Days</a></h5>
          <ul>
            <li><i class="fas fa-tachometer-alt"></i><span>Grade</span> <h6>Challenging</h6></li>
            <li><i class="far fa-calendar-alt"></i><span>Duration</span> <h6>14 Days</h6></li>
            <li><i class="fas fa-hiking"></i><span>Activity</span> <h6>Everest Treks</h6></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="adventure-box">
          <div class="box">
            <div class="imgBox">
              <img src="./images/adventure4.jpg" alt="">
            </div>
            <div class="content">
              <a href="#" class="btn btn-book">Book Your Trip Now</a>
              <p><a href="#">or Learn More</a></p>
            </div>
          </div>
          <h6 class="group"><i class="fa fa-users"></i> Group</h6>
          <p class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> of 31 reviews</p>
          <div class="price-box">
            <span class="trip-card__regular-price">from <del>US$ 1800</del></span>
            <span class="trip-card__sale-price">US$ <strong>1550</strong><sup>pp</sup></span>
          </div>
          <h5><a href="#">Everest Base Camp Trek - 14 Days</a></h5>
          <ul>
            <li><i class="fas fa-tachometer-alt"></i><span>Grade</span> <h6>Challenging</h6></li>
            <li><i class="far fa-calendar-alt"></i><span>Duration</span> <h6>14 Days</h6></li>
            <li><i class="fas fa-hiking"></i><span>Activity</span> <h6>Everest Treks</h6></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="adventure-box">
          <div class="box">
            <div class="imgBox">
              <img src="./images/adventure5.jpg" alt="">
            </div>
            <div class="content">
              <a href="#" class="btn btn-book">Book Your Trip Now</a>
              <p><a href="#">or Learn More</a></p>
            </div>
          </div>
          <h6 class="group"><i class="fa fa-users"></i> Group</h6>
          <p class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> of 31 reviews</p>
          <div class="price-box">
            <span class="trip-card__regular-price">from <del>US$ 1800</del></span>
            <span class="trip-card__sale-price">US$ <strong>1550</strong><sup>pp</sup></span>
          </div>
          <h5><a href="#">Everest Base Camp Trek - 14 Days</a></h5>
          <ul>
            <li><i class="fas fa-tachometer-alt"></i><span>Grade</span> <h6>Challenging</h6></li>
            <li><i class="far fa-calendar-alt"></i><span>Duration</span> <h6>14 Days</h6></li>
            <li><i class="fas fa-hiking"></i><span>Activity</span> <h6>Everest Treks</h6></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <div class="adventure-box">
          <div class="box">
            <div class="imgBox">
              <img src="./images/adventure6.jpg" alt="">
            </div>
            <div class="content">
              <a href="#" class="btn btn-book">Book Your Trip Now</a>
              <p><a href="#">or Learn More</a></p>
            </div>
          </div>
          <h6 class="group"><i class="fa fa-users"></i> Group</h6>
          <p class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> of 31 reviews</p>
          <div class="price-box">
            <span class="trip-card__regular-price">from <del>US$ 1800</del></span>
            <span class="trip-card__sale-price">US$ <strong>1550</strong><sup>pp</sup></span>
          </div>
          <h5><a href="#">Everest Base Camp Trek - 14 Days</a></h5>
          <ul>
            <li><i class="fas fa-tachometer-alt"></i><span>Grade</span> <h6>Challenging</h6></li>
            <li><i class="far fa-calendar-alt"></i><span>Duration</span> <h6>14 Days</h6></li>
            <li><i class="fas fa-hiking"></i><span>Activity</span> <h6>Everest Treks</h6></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-sm-12">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}