{% extends "base.html" %}

{% block content %}

<div class="page-banner">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12">
                    
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-bredcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <h1>Offline Payment</h1>
        <ul class="breadcrumb">
          <li><a href="/">Home</a></li>
          <li>Offline Payment</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="offline-body">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <p><span>Bank Name :</span> Global IME Bank</p>
        <p><span>Account No. :</span> 1234567890</p>
        <p><span>Swipt Code :</span> 12345566</p>
      </div>
    </div>
  </div>
</div>


{% endblock content %}