{% extends "base.html" %}

{% block content %}
<div class="page-banner">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12">
          
        </div>
      </div>
    </div>
  </div>
</div>
<div class="banner-bredcrumb">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <h1>Our Team</h1>
        <ul class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li>Our Team</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="team-body">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12">
        <p class="team-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
      </div>
      <div class="col-12 col-sm-12">
       
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
            {% for i in teams %}
              <div class="col-12 col-sm-12 team-box">
                <img src="{{i.image.url}}" alt="">
                <h5>{{i.name}}</h5>
                <h6>{{ i.designation }}</h6>
                <div class="truncate">
                  <p>{{i.description | safe }}</p>
                </div>
              </div>
            {% endfor %}
              
            </div>
          </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}